BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 90
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: CaseSensitive
InsertBraces: true
